extends layout

block content
    #container
        #viewrecipe.col
            h1#recipe-name
            h4 Ingredients
            ul#ingredients-list
            h4 Instructions
            ul#instructions-list
            
        #addrecipe.col
            h1 Add new recipe

            h4 Ingredients
            input(type="text")#name-text

            textarea#ingredients-text
            button(type="button")#add-ingredient Add ingredient

            h4 Instructions
            textarea#instructions-text
            button(type="button")#add-instruction Add instruction

            button(type="submit")#submit Submit
