extends layout

block content
    h1 Registeration page
    form(action="/api/user/register", method="post")#formRegister
        label(for="email") Email
        input(type="email", name="email", required)#email
        label(for="pwd") Password
        input(type="password", name="password", required)#password
        input(type="submit", value="Register")
    p#registerResult
    script(src="/javascript/register.js")
